div
{
   border: 2px dotted;
   padding: 5px;
}
p
{
    margin: 0px;
    padding: 0px;
}

.container
{
    display: grid;
    gap: 2px;
}

.main-container
{
    grid-template-columns: 100px 180px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "server-menu rooms-list main";
    height: 800px;
}

.server-menu
{
    background-color: greenyellow;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr;
}

.rooms-list
{
    background-color: lightblue;
    grid-template-rows: 50px 150px 1fr 25px;
}

.main
{
    background-color: aqua;
    grid-template-rows: 50px 1fr;
}

.top-row
{
    grid-template-columns: 1fr 40px 40px 40px 120px 40px 40px;
}
.main-row
{
    grid-template-rows: 1fr 50px;
}

.meet
{
    grid-template-rows: 25px 1fr 1fr;
}