* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    /* width: 100vw; */
    padding: 8px;
    border: 2px dotted lightblue;
    gap: 15px;

}

.box {
    min-width: 40px;
    min-height: 40px;
    padding: 4px;
    /* border: 2px dotted lightcoral; */
    gap: 15px;

}

.mid-box {
    background-color: antiquewhite;

    min-width: 40px;
    min-height: 40px;
    padding: 3px;
    border: 2px dotted rgb(15, 9, 9);
    gap: 5px;
}

.inner-box {
    min-width: 40px;
    min-height: 40px;
    border: 2px dotted lightgreen;
    gap: 5px;
}

.finale-box {
    min-width: 40px;
    min-height: 40px;
    border: 2px dotted coral;
    gap: 5px;
    /* margin: 3px; i want some gaps around the icons but then it pushes everything outside the og box. 
    Defs need help to get things to resize better*/
}

/* MAIN SECTIONS */
.container {
    background-color: rgba(128, 128, 128, 0.354);
    display: grid;
    grid-template:
        "search search search  search search" 60px
        ".      left   middle  right  ."      1fr/
        1fr     2fr    4fr     2fr   1fr;
}

/* SEARCH BAR AND NAVIGATION: TOP BAR */
.search {
    background-color: rgba(250, 235, 215, 0.571);
    grid-area: search;
    display: grid;
    width: 100vw;
    /* margin: 0px; can't remember how to make it cover the 
    whole width */
    grid-template-columns: 50px 600px 250px;
    gap: 10px;
}

.home {
    border-radius: 4px;
}

.search2 {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 400px;
}

.bar {
    border: solid black 2px;
    border-radius: 6px;
}

.navigation {
    /* margin-left: 100px; --> need this to move to 
    the right edge without AND bring everything inside 
    along with it. Also would be dank if the box wouldn't
    squish itself */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* LEFT COLUMN*/
.left {
    grid-area: left;
    display: grid;

    grid-template-rows: 240px 100px 100px;
}

.profile {
    display: grid;
    grid-template-rows: 115px 30px 30px 30px;
    row-gap: 5px;
}


/* MIDDLE COLUMN: POSTING AND POSTS */
.middle {
    grid-area: middle;
    display: grid;
    padding: 5px;

    align-content: center;
    /*goal is to put these things in the hor -center*/
    grid-template-rows: 100px 1fr;
    gap: 10px;
    background-color: pink;
}

.newpost {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.icon {
    border-radius: 45%;
}

.post {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.attachments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.feed {
    display: grid;
    grid-template-rows: repeat(3, minmax(50px, 1fr));
}

/* RIGHT COLUMN: NEWS AND STUFF? */
.right {
    grid-area: right;
    display: grid;
    grid-template-rows: 240px 100px 100px;
}

.news {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}