* {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 245, 250);
}



/* Container */
/* 1. Grid in this */
/* 2. Grid template */
/* "header      header      header"  (height) 150px
"left-bar        main       right-bar"        800px /

width
300px           1fr             400px
*/

.container {
    display: grid;
    grid-template: 
    "header     header      header"         150px
    "left-bar   main        right-bar"      800px /
    300px       1fr             400px
    ; 
}

/* Header */
/* Grid-area: header */

.header {
    background-color: lightpink;
    grid-area: header;
    
    border: 1px solid black;

    /* create a grid */
    /* grid template
    
    "logo       search-bar"               50px*/

    display: grid;
    grid-template: 
    "logo        search-bar     container-for-icons"      90px /
    70px           800px            400px;

    padding-top: 20px;
    gap:70px;
    

}


/* Reference grid area in logo and search-bar */

/* Logo */

.logo {
    grid-area: logo;
    border: 1px dashed black ;
    
    margin-top: 10px ;
    margin-left: 20px;

 
}   


/* Search-bar */
.search-bar {
    grid-area: search-bar;
    border: 1px dashed black ;
    
    margin-left: 60px;
    margin-top: 10px ; 
   
/* search-bar content */
display: grid;
grid-template:
"search-bar-content"
;

grid-template-columns: 400px;
grid-template-rows: 50px;
padding-top: 13px;
padding-left: 10px;
}



.search-bar-content {
    grid-area: search-bar-content;
    border: 1px dashed black ;
   
   
}

/* container-for-icons */

.container-for-icons {
    grid-area: container-for-icons;
    border: 1px dashed black ;

    display: grid;
    grid-template: 
    "icon1 icon2 icon3 icon4 icon5"
    
    ;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 5px;
   

}

.icon1 {
    grid-area: icon1;
    border: 1px dashed black;
}

.icon2 {
    grid-area: icon2;
    border: 1px dashed black;
}
.icon3 {
    grid-area: icon3;
    border: 1px dashed black;
}

.icon4 {
    grid-area: icon4;
    border: 1px dashed black;
}

.icon5 {
    grid-area: icon5;
    border: 1px dashed black;
    
}

/* Left-bar */
/* Grid-area: left-bar */

.left-bar {
    grid-area: left-bar;
    background-color: lightpink;
    border: 1px dashed black
    ;

    /* display: grid */
    /* grid-template area */
    /* "username"           50px
        "views"             30px
        "premium"           20px
        "my-items           20px /
         40px                    */

    display: grid;
    grid-template: 
        "username"  150px
        "views"     60px
        "premium"   50px
        "my-items"  50px /
        290px;

}

/* Username */

.username {
grid-area: username;

border: 1px dashed black;
margin: 5px;
}


/* Views */
.views {
grid-area: views;

border: 1px dashed black;
margin: 5px;
}

/* Premium */

.premium {
grid-area: premium;

border: 1px dashed black;
margin: 5px;
}

/* My-items */

.my-items {
grid-area: my-items;

border: 1px dashed black;
margin: 5px;
}

/* Recent */

.recent {
    display: grid;
    grid-template: 
    "recent";
    grid-template-rows: 1fr;
    border: 1px dashed black;
    margin: 5px;
}


.groups {
    display: grid;
    grid-template: 
    "groups";
    grid-template-rows: 1fr;
    border: 1px dashed black;
    margin: 5px;
}


/* Main */
/* Grid-area: main */

.main {
    grid-area: main;
    background-color: lightpink;
    border: 1px dashed black;

    /* main */

    display: grid;
    grid-template: 
    "post-container"    50px
    "content"           1fr /
    1fr
    ;
    padding: 30px;

}

/* Right-bar */
/* Grid-area: right-bar */

.right-bar {
    grid-area: right-bar;
    background-color: lightpink;
    border: 1px dashed black
}