body {
    margin: 0;
    height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1.2fr 1fr;
      grid-template-rows: 40px 1fr;
      grid-template-areas: 
      "header header header header header "
      ". left-menu main right-menu .";
      background-color: rgb(220, 220, 220);
      gap: 20px;
  }
  header {
    grid-area: header;
    background-color: white; 
  }
  
  .left-menu{
    grid-area: left-menu;
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 5px;
  }
  .left-menu > div{
    display: grid;
    background-color: white;
    border-radius: 10px;
  }
  
  .main{
    grid-area: main;
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 20px;
  }
  .main > div{
    display: grid;
    background-color: white;
    border-radius: 10px;
  }
  .right-menu{
    grid-area: right-menu;
    background-color: rgb(220, 220, 220);
    display: grid;
    grid-template-rows: 3fr 2fr 3fr;
    gap: 5px;
  }
  .right-menu > div{
    display: grid;
    background-color: white;
    border-radius: 10px;
  }
