* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.grid {
    margin: auto;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
    "server-list    server-menu     chat-window";
    grid-template-columns: 60px 200px   1fr;
}

.server-list {
    grid-area: server-list;
    display: grid;
    grid-template-areas:
    "home"
    "servers";
    grid-template-rows: 60px    1fr;
}

.server-menu {
    grid-area: server-menu;
    display: grid;
    grid-template-areas:
    "header"
    "details";
    grid-template-rows: 40px    1fr;
}

.chat-window {
    grid-area: chat-window;
    display: grid;
    grid-template-areas: 
    "chat-header"
    "chat-body"
    "chat-box";
    grid-template-rows: 40px    1fr 60px;
}

.home-button {
    grid-area: home;
    border: solid 2px black;
}

.server-buttons {
    grid-area: servers;
    border: solid 2px black;
    display: grid;
    align-content: start;
}

.server-buttons > div {
    border: solid 1px green;
    margin: 5px;
    height: 46px;
    border-radius: 5px;
}

.home-button > div {
    border: solid 1px green;
    margin: 5px;
    height: 46px;
    border-radius: 5px;
}

.server-header {
    grid-area: header;
    border: solid 2px black;
}

.server-details {
    grid-area: details;
    border: solid 2px black;
    display: grid;
    grid-template-areas:
    "invite-people"
    "server-channels"
    "mic-settings";
    grid-template-rows: 180px 1fr 50px;
}

.server-details > div {
    border: solid 1px red;
}

.invite-people {
    display: grid;
    grid-template-rows: 1fr 40px;
    padding: 10px 25%;
    gap: 10px;
}

.invite-people > div {
    border: solid 1px orange;
}

.chat-header {
    grid-area: chat-header;
    border: solid 2px black;
}

.chat-body {
    grid-area: chat-body;
    border: solid 2px black;
}

.chat-box {
    grid-area: chat-box;
    border: solid 2px black;
}