* {
    margin: 0;
    padding: 0;
    background-color: #313339;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template:
        'sidebar channelSidebar content' /
        72px 240px 1fr;
}


.content__header{
    background-color:  #313339;
}

.top__bar{
display: grid;
background-color:  #313339;
color: #fff;
font-size: 12px;
padding-top: 10px;
padding-bottom: 22px;
grid-template-columns: 60px 1fr;
border-bottom: 2px solid  #1e1f22;
}

.elements {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: end;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    background-color: #1e1f22;
    
}

.sidebar__item {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 400px;
    background-color: #313338;
    display: grid ; 
    justify-content: center;
    align-items: center;
}

.sidebar__item:not(:last-child) {
    margin-bottom: 8px;
}

.sidebar__line {
    width: 32px;
    height: 2px;
    background-color: #35363c;
    border-radius: 10px;
    margin-bottom: 8px;
}



.channelSidebar {
    grid-area: channelSidebar;
    display: grid;
    grid-auto-rows: 48px 1fr 52px;
}

.channelSidebar__title {
    padding: 12px 16px;
    width: 100%;
    background-color: #2b2d31;
    border-bottom: 2px solid #1f2023;
}

.channelSidebar__title-text {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600px;
}

.channelSidebar__content {
    background-color: #2b2d31;
}

.channelSidebar__user {
    background-color: #232428;
}

.content__content{
    display: grid;
    color: white;
    padding-left: 20px;
    gap: 20px;
    margin-top: 350px;
    background-color: #313339;
}

.content__content > .button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: lightskyblue;
    align-content: end;
    align-items: end;
}

.chat {
    display: grid;
    color: white;
    padding-left: 20px;
}

.content {
    grid-area: content;
    display: grid;
}