* {
  padding:0;
  margin:0;
}

.grid {
  display:grid;
  grid-template-columns: 75px 20vw 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 
  "channel-rooms channels messaging"
  ;
  box-sizing: border-box;
  justify-content:center;
}
/* outer boxes */
.messaging,
.channels,
.channel-rooms {
  border: 3px solid #C64343;
  border-radius: 8px;
}

/* inner boxes */
.messaging > div,
.channels > div,
.channel-rooms > div {
  border: 3px dashed #3EC5A3;
  border-radius: 8px;
  margin: 3px;
  display: grid;
  box-sizing: border-box;
}

/* inner-inner boxes */
.enter-message > div,
.channels > div + div > div {
  border: 3px dashed #F2DC23;
  border-radius: 8px;
  margin: 3px;
}

/* inner-inner-inner boxes */
.empty {
  border: 3px dashed #7478D1;
  border-radius: 8px;
  margin: 3px;
}


.messaging {
  box-sizing: border-box;
  grid-area: messaging;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 40px 1fr 150px 100px 68px;
}

.enter-message {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px 1fr 60px 60px 60px;
}

.channel-rooms {
  box-sizing: border-box;
  grid-area: channel-rooms;
  display: grid;
  grid-template-rows: repeat(auto-fit, 68px); 
  grid-template-columns: 100%;
}

.channel-rooms > div {
  border-radius: 50%;
}

.channels {
  box-sizing: border-box;
  grid-area: channels;
  display: grid;
  grid-template-rows: 40px 200px 150px 230px 150px 100px 1fr 40px;
}

.channels > div + div {
  grid-template-rows: 70px 1fr 1fr;
  justify-items: center;
}

.channels > div + div > div {
  width: 18vw;
}

.channels > div + div > .channel-circle {
  border-radius: 50%;
  width: 60px;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-areas: 
    "messaging"
    ;
    box-sizing: border-box;
    justify-content:center;
  }

  .channel-rooms {
    display: none;
  } 
  
   .channels {
    display: none;
  }
}
