* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f2ef;
    text-align: center;
}

.grid {
    height: 100vh;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 1fr 300px 100px;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "header     header  header          header"
    "left-menu  main    quick-settings  right-menu";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 300px 1fr 400px;
}

.header-left {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.header-left > div {
    border: solid 1px blue;
    margin: 5px;
    border-radius: 10px;
}

.header-mid {
    display: grid;
}

.search {
    border: solid 1px blue;
    margin: 5px;
    border-radius: 10px;
}

.header-right {
    display: grid;
    grid-template-columns: 50px 50px 50px 200px;
    justify-content: right;
    gap: 5px;
    padding: 5px;
}

.header-right > div {
    border: solid 1px blue;
    border-radius: 10px;
}

.left-menu {
    grid-area: left-menu;
    display: grid;
    padding: 10px 10px 0 10px;
    gap: 10px;
    grid-template-rows: 50px 400px 1fr 50px;
    grid-template-areas:
    "compose"
    "inbox-select"
    "meet"
    "three-buttons";
}

.compose {
    grid-area: compose;
    border: solid 1px blue;
}

.inbox-select {
    grid-area: inbox-select;
    border: solid 1px blue;
}

.meet {
    border: none;
    grid-area: meet;
    display: grid;
    gap: 10px;
    grid-template-rows: 25% 1fr;
    grid-template-areas: 
    "meet"
    "chat";
}

.meet > div {
    border: solid 1px blue;
}

.three-buttons {
    grid-area: three-buttons;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    place-content: center;
    gap: 5px;
}

.three-buttons > div {
    border: solid 1px blue;
    height: 40px;
}

.main {
    grid-area: main;
}

.quick-settings {
    grid-area: quick-settings;
}

.right-menu {
    grid-area: right-menu;
}

.grid > div {
    border: solid 1px black;
}