* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    height: 10vh;
    width: 100vw;
grid-template: 

    "header     header         header        header" 60px
    "left-menu  main-content   right-menu    right-extra" 1fr/
    200px       1fr           200px         150px;
}

.header {
   display: grid; 
   grid-area: header;
   gap: 10px;
   margin-left: 20px;
   grid-template: 

   "drop-menu  logo  search-mail  help  settings  layout  profile" 60px/
     50px      70px   1fr         50px   50px      50px    50px;
}

.header > .div{
    display: grid;
    gap: 10px;
    margin-left: 20px;
    grid-template-columns: 50px 70px 1fr;
    justify-self: center;
    align-self: center;
}

.header > .search-bar {
    display: grid;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px 200px 10px 200px;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
}


.header > .elements {
    display: grid;
    gap:10px;
    padding-right: 20px;
    grid-template-columns: repeat(4, 50px);
    padding-right: 40px;
    justify-self: center;
    align-self: center;
}

.header > .elements > div:nth-child(4n) {
    color: red;
    display: grid;
    gap: 10px;
    justify-self: end;
    align-self: center;
}



.left-menu{
    border: solid 2px black;
    display: grid;
    grid-area: left-menu;
    grid-template: 

    "compose" 1fr
    "meet" 300px
    "meet" 150px
    "chat" 1fr/
    200px;
}

.left-menu >.compose {
    display: grid;
    background-color: light gray;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    grid-template-rows:repeat(9, 1fr);
    border-bottom: solid 2px black;
}


.left-menu > .meet {
    display: grid;
    background-color: light gray;
    gap: 20px;
    grid-template-rows:repeat(3,1fr);
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: solid 2px black;
}

.left-menu >.chat {
    display: grid;
    background-color: light gray;
    gap: 20px;
    grid-template-rows:1fr;
    padding-top: 10px;
    padding-left: 20px;
}

.main-content {
    display: grid;
    grid-template-rows: repeat(1fr);
    overflow-y:scroll;
    grid-area: main-content;

}

.main-content > div {
    border-bottom: solid 2px black;
    text-align: center;
    background-color: light rgb(68, 68, 68);
}
.main-content > div:nth-child(1) {
border-top: solid 2px black; 

}


.right-menu {
    border: solid 2px black;
    display: grid;
    grid-template-rows: 200px;
    grid-area: right-menu;
    grid-template: 

    "quick-settings" 200px
    "density" 400px
    "theme" 250px
    "density" 300px
    "theme" 150px
    "index-type" 1fr/
    200px;
}

.right-menu >.quick-settings {
    display: grid;
    padding-left: 10px;
    grid-template-rows: 50px;
    border-bottom: solid 2px black;
}

.right-menu > .density {
    display: grid;
    padding-left: 10px;
    grid-template-rows: repeat(4, 1fr);
    border-bottom: solid 2px black;
}

.right-menu > .theme {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 1fr 1fr; 
    border-bottom: solid 2px black;
}

.right-menu > .index-type {
    display: grid;
    padding-left: 10px;
    grid-template-rows: repeat(4, 1fr);
    border-bottom: solid 2px black;
}

.right-extra {
    display: grid;
    padding-left: 10px;
    grid-area: right-extra;
    border-top: solid 2px black;
    border-bottom: solid 4px black;
}