*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

header {
    display: grid;
    grid-template-areas: "icon main-bar right-bar";
    grid-template: 60px / 60px 50% 40%;
    padding: 20px;
    gap: 10px
}

.icon {
    border-color: blue;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
}

.main-bar {
    border-color: blue;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: "search";
    grid-template: 100% / 40%;
}

.search {
    border-color: blue;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    margin: 5px
}

.right-bar {
    border-color: blue;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: "first second third fourth fifth";
    grid-template: 40px / 18% 18 18% 18% 18%;
    padding: 5px;
    gap: 5px
}
.first, .second, .third, .fourth, .fifth {
    border-color: rgb(0, 255, 30);
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
}

main {
    padding: 1rem 10rem;
    display: grid;
    grid-template: repeat(8, 10rem) / 17.5rem 3fr 17.5rem;
    background-color: #caccce50;
}

.left-top, .core-top, .right-top, .left-mid, .core-mid, .right-mid, .left-bot, .right-bot, .core {
    background-color: white;
    border: 0.5px solid #86888a90;
    border-radius: 10px;
    margin: 0.5rem;
    text-align: center;
}

.core {
    display: grid;
    grid-template-areas: "profile-photo-and-text red-sections";
    grid-template: 80px / 100%;
}

.profile-photo-and-text {
    display: grid;
    grid-template-areas: "profile-photo text-part";
    grid-template: 100% / 60px 1fr;
    gap: 10px;
    padding: 10px;
}

.profile-photo, .text-part {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
} .profile-photo { border-radius: 30px;}

.red-sections {
    display: grid;
    grid-template-areas: "first-red second-red third-red fourth-red fifth-red";
    grid-template: 100% / 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.first-red, .second-red, .third-red, .fourth-red, .fifth-red {
    display: grid;
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}

.left-top {
    grid-area: 1 / 1 / 3 / 1;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}

.left-top-1, .left-top-2, .left-top-3, .left-top-4 {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}
.core-top {
    grid-area: 2 / 2 / 5 / 2;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}

.right-top{
    grid-area: 1 / 3 / 3 / 3;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}

.right-top-1, .right-top-2, .right-top-3, .right-top-4, .right-top-5 {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}


.left-mid {
    grid-area: 3 / 1 / 4 / 1;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}

.left-mid-grid, .core-mid-grid, .core-top-grid, .right-mid-grid, .left-bottom-grid, .right-bottom-grid {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
}

.core-mid {
    grid-area: 5 / 2 / 8 / 2;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}



.right-mid{
    grid-area: 3 / 3 / 4 / 3;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}


.left-bot {
    grid-area: 4 / 1 / 8 / 1;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}

.right-bot{
    grid-area: 4 / 3 / 8 / 3;
    display: grid;
    grid-template: 100%;
    padding: 10px;
    gap: 10px
}