* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    background-color: #E0E0E0;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: 
        'header header header'
        'left main right';
}

.header {
    padding: 5px;
    grid-area: header;
    display: grid;
    grid-template-columns: 50px 500px 300px;
    column-gap: 10px;
    background-color: white;
    justify-content: center;
}

.header-1 {
    border: 1px dotted black;
}

.header-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40%;
    border: 1px dotted black;
}

.header-2 div {
    background-color: rgb(223, 223, 223);
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
}

.header-3 {
    display: grid;
    padding: 5px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    border: 1px dotted black;
    column-gap: 5px;
    justify-self: center;
}

.header-3 div {
    border: 1px dotted blue;
}

.left {
    padding: 20px;
    display: grid;
    grid-area: left;
    grid-template-rows: 1fr 100px 100px;
    row-gap: 10px;
}

.left-1 {
    row-gap: 5px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 50px 50px 50px;
    border: 1px dotted black;
    padding: 5px;
}

.left-1 div {
    border: 1px dotted blue;
}

.left-2 {
    background-color: white;
    border: 1px dotted blue;
    padding: 10px;
}

.left-3 {
    background-color: white;
    border: 1px dotted blue;
    padding: 10px;
}

.main {
    grid-template-rows: 100px 1fr;
    row-gap: 10px;
    padding: 20px;
    display: grid;
    grid-area: main;
}

.main-1 {
    display: grid;
    grid-template-rows: 50%;
    border: 1px dotted black;
    padding: 5px;
    background-color: white;
    row-gap: 5px;
}

.main-1 .profile {
    display: grid;
    grid-template-columns: 10% 90%;
}

.main-1 .profile div {
    border: 1px dotted blue;
}

.main-1 .profile #pic {
    border-radius: 100%;
    border: 2px dotted grey;
    height: 40px;
    width: 40px;
    justify-self: center;
}

.main-1 .post {
    border: 1px dotted black;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 5px;
    padding: 5px;
}

.main-1 .post div {
    border: 1px dotted blue;
}

.main-2 {
    display: grid;
    grid-template-rows: 25%;
    border: 1px dotted black;
    padding: 5px;
    background-color: white;
    row-gap: 5px;
}

.main-2 div {
    border: 1px dotted blue;
}

.right {
    grid-area: right;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 100px 100px;
    row-gap: 10px;
}

.right-1 {
    display: grid;
    grid-template-rows: 25%;
    border: 1px dotted black;
    padding: 5px;
    background-color: white;
    row-gap: 5px;
}

.right-1 div {
    border: 1px dotted blue;
}

.right-2 {
    background-color: white;
    border: 1px dotted blue;
    padding: 10px;
}

.right-3 {
    background-color: white;
    border: 1px dotted blue;
    padding: 10px;
}