* {
  margin: 0%;
  padding: 0%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 6vh 1fr;
  grid-template-areas:
    ".   header   header    header    ."
    ". profile   main      news .";
  row-gap: 15px;
  column-gap: 20px;
}

/* outer boxes */
.empty,
.header,
.profile,
.main,
.news {
  background-color: white;
  display: grid;
  margin: 5px;
  border: 3px solid black;
  border-radius: 8px;
}

/* inner boxes */
.empty > div,
.header > div,
.profile > div,
.main > div,
.news > div {
  border: 3px dashed blue;
  border-radius: 8px;
  margin: 3px;
  display: grid;
  box-sizing: border-box;
}

/* inner-inner boxes */
.empty,
.profile > .profile-1 > div,
.news > .news-1 > div,
.main > .compose-post > div {
  border: 3px dashed grey;
  border-radius: 8px;
  margin: 3px;
}

/* inner-inner-inner boxes */
.main > .compose-post > .start-a-post > div,
.main > .compose-post > .attach-to-post > div {
  border: 3px dashed #7478d1;
  border-radius: 8px;
  margin: 3px;
}

.header {
  grid-area: header;
  grid-template-columns: 5vh minmax(70px, 380px) 1fr minmax(300px, 500px) 30px 200px;
}

.header > .search {
  border: 3px solid purple;
}

.profile {
  grid-area: profile;
  grid-template-rows: 600px 200px 400px;
}

.profile > .profile-1 {
  grid-template-rows: 3fr 1fr 1fr 1fr;
}

.main {
  grid-area: main;
  grid-template-rows: 170px repeat(10, 350px);
  overflow: auto;
}

.main > .compose-post > .start-a-post {
  display: grid;
  grid-template-columns: 69px 1fr;
  grid-template-rows: 1fr;
}

.main > .compose-post > .start-a-post > .start-a-post-text {
  border-style: solid;
}

.main > .compose-post > .attach-to-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main > .compose-post > .start-a-post > .display-pic-1 {
  border-radius: 50%;
}

.news {
  grid-area: news;
  grid-template-rows: 400px 200px 400px repeat(10, 300px);
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header    header    header"
      "profile   main      news";
  }
  /* .header > .spacer { */
  /*   display: none; */
  /* } */
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  .profile {
    display: none;
  }

  .news {
    display: none;
  }
}
