body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f3f2ef;
}
a {
    display: block;
    padding: 40px;
    width: 500px;
    text-align: center;
    border: 2px dotted #5c6bc0;
    border-radius: 10px;
    background: white;
    color: #000;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 3em;
    margin-bottom: 20px;
}

a span {
    display: block;
    font-size: 0.3em;
    font-style: italic;
    line-height: 0.4em;
}

.container {
    width: auto;
    margin-top: -10vh;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 600px) {
    a {
        width: 60vw
    }
}