* {
  font-family: sans-serif;
}

.darkestColour {
  background-color: #E5E5E5;
}

.mediumColour {
  middle: #EDEDEC
}

.lightestColour {
  background-color: #F4F3F2;
}

.container {
  display: grid;
  grid-template:
    "nav sidebar header" 40px 
    "nav sidebar main"  1fr /
    60px 230px 1fr;
  min-height: 100%;
}

.nav {
  grid-area: nav;
  background-color: #E5E5E5;
}

.logo {
  grid-area: logo;
  padding: 10px
}
.sidebar {
  grid-area: sidebar;
  display: grid;
  background-color: #F4F3F2;
  grid-template: 
  "logo" 40px
  "invitation" 150px
  "channels"  1fr
  "status" 60px /
  1fr;
}

.invitation {
  grid-area: invitation;
  padding: 10px
}

.channels {
  grid-area: channels;
  padding: 10px
}

.status {
  grid-area: status;
  background-color: #EDEDEC
}

.header {
  grid-area: header;
  background-color: #FFFFFB
}

.main {
  grid-area: main;
  background-color: #FFFFFB
}

.profileImg {
  border-radius: 100%;
  margin: 10px;
  background-color: rgba(248, 248, 248, 0.73);
  width: 40px;
  height: 40px;
}

ul {
  list-style-type: none;
  padding:10px;
}

.channels > ul.group {
  font-weight: bold;
}

ul > ul > li {
  padding-left: 10px;
  font-weight: normal;
}