.grid {
    display: grid;
    grid-template:
        "left center right" 100vh/
        75px 250px 1fr;
}

.left {
    grid-area: left;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}


.center {
    grid-area: center;
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 40px 70px 60px 1fr 60px 60px 40px;
}

.right {
    grid-area: right;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 40px 1fr 70px 40px;
}


img {
    height: 35px;
}

.leftlogos {
    border: dotted 2px black;
    border-radius: 70%;
    display: grid;
    place-items: center;

}

.centerbox {
    border: solid 1px grey;
}

.rightbox {
    border: solid 1px lightgrey;
}

.messagebox {
    background-color: lightgray;
    margin: 2px;
    border-radius: 3px;
      color: Grey;

}

.rightbox.last {
    display: grid;
    align-content: center;
    color: grey;
}
