* {
    margin: 0
}
body{
    width: 800px;
}
.linkedin {
    background-color:grey;
    display: grid;
    grid-template:
    "header     header    header"      50px
    "left-menu  main      right-menu"  1fr/
    200px       minmax(200px, 1fr)    200px;
    width: 100vw;
    height:100vh; 
    
  }
  
  .main {
    grid-area: main;
    background-color:white;
    min-height: 600px;
    grid-template:
    "popular" 1fr
    "shorts"  1fr /
    1fr;


  }
  .main > div  {
    margin-bottom:10px;
    background-color:aqua;
    height:600px;
  }
  .main .popular{
    height:100px;
    background-color:blue;
    outline: 3px solid blue;
  }
  .main .shorts{
    /*height:1250px;*/
    background-color:whitesmoke;
    outline: 3px solid blue;
    display: grid;
    grid-template-columns: 250px 250px 250px;
  }
  .left-menu {
    grid-area:left-menu;
    background-color: antiquewhite;;
    min-height:600px;
    grid-template:
    "one" 200px
    "two" 300px
    "three" 400px /
    1fr;

  }
  .left-menu > div {
    margin-bottom:10px;
    background-color:blueviolet;
    display: grid;

  }
  .left-menu .one {
    grid-area: one;
    background-color: white;
    outline: 3px solid blue;

  }
  .left-menu .three {
    grid-area: three;
    background-color: white;
    outline: 3px solid blue;
  }
  .left-menu .two {
    grid-area: two;
    background-color: blue;
    outline: 3px solid blue;

  }
  .right-menu {
    grid-area:right-menu;
    background-color: antiquewhite;
    min-height: 600px;
    grid-template:
    "rightone" 1fr
    "righttwo" 1fr
    "rightthree"1fr /
    1fr
  }
  .right-menu > div {
    margin-bottom:10px;
    background-color:chartreuse;
    height: 500px;
  }
  .right-menu .rightone {
    background-color: white;
    height: 450Px;
    outline: 3px solid blue;
  }
  .right-menu .righttwo{
    background-color:blue;
    height:250px;
    outline: 3px solid blue;

  }
  .right-menu .rightthree{
    background-color:white;
    height:700px;
    outline: 3px solid blue;
  }
  header{
    grid-area: header;
    background-color: white;
    display: grid;
    outline: 3px solid blue;
  }