* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303242;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Section */

.container {
    display: grid;
    grid-template: 
    "servers chat core" 100vh/
    10vw 1fr 3fr
    ;
}

.servers {
    text-align: center;
    color: lightslategray;
    font-weight: bold;
    font-size: 30px;
    background-image: linear-gradient(360deg, #737699 0%, #303242 74%);
    grid-area: servers;
    padding: 1rem;
}

.servers h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 200px;
    height: 150px;
    width: 150px;
    background-color: #36393e;
}

.chat {
    grid-template: repeat(5, 1fr) / 1fr;
    background-image: linear-gradient(360deg, #4e5068 0%, #292b38 74%);
    grid-area: chat;
    min-width: 200px;
    padding: 10px;
    font-size: 30px;
    border-radius: 30px 0 0 0;
}

.chat p, .chat h3 {
    color: white;
    margin: 10px 0;
}

.core {
    display: grid;
    grid-template: repeat(15, 1fr) / 1fr;
    background-image: linear-gradient(360deg, #363849 0%, #1b1c25 74%);
    grid-area: core;
    padding: 10px;
}

.chat h2 {
    text-align: center;
    height: 6rem;
    border-bottom: 2px solid #1e2124;
    color: white;
    padding: 10px;
    font-size: 40px;
}

/* Core section */

.core h2 {
    text-align: start;
    padding-left: 1rem;
    height: 6rem;
    border-bottom: 2px solid #1e2124;
    padding: 10px;
    font-size: 40px;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: 2 / 1 / 14 / 1;
    padding: 3rem;
    color: white;
    font-size: 40px;
}

.text > hr {
    border: 1px solid #1e2124;
}

.input {
    display: flex;
    align-items: center;
    grid-area: 15 / 1 / 16 / 1;
    padding: 2rem;
    background-color: #54596d;
    border: none;
    border-radius: 30px;
    height: 6rem;
    font-size: 20px;
    color: #b1b1b1;
}


/* Category Section */
.categorys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.categorys h3 {
    padding: 0.5rem 0;
    border-bottom: solid 2px #000000;
    border-top: solid 2px #000000 ;
}

.categorys p {
    font-size: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 0;
    height: 80px;
}

@media screen and (max-width: 900px) {
    .container {
    display: grid;
    grid-template: 
    "servers core core" 80rem/
    6rem 1fr 3fr
    ;
    }

    .chat {
        display: none;
    }
}










