* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns:
    70px 200px 1fr;
    grid-template-areas:
    'left server-nav chat';
    height: 100vh;
}

.left {
    border: 2px dotted;
    grid-area: left;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-rows: repeat(7,50px);
}

.left div {
     color: red;
     border: 2px dotted;
     border-radius: 50%;
}


.server-nav {
    border: 2px dotted;
    grid-area: server-nav;
    display: grid;
    grid-template-rows: 
    50px 160px repeat(3, auto);
    grid-template-areas:
    'server-name'
    'invite'
    'server-category1'
    'server-category2'
    'server-category3'
    'server-category4';
    gap: 5px;
    padding: 5px;
}

.server-nav div {
    color: red;
    border: 2px dotted;
}

.server-nav .server-name {
    grid-area: server-name;
    display: grid;
    grid-template-columns:
    80px 40px;
    padding: 5px;
    gap: 5px;
}

.server-name .full-name {
    color: green;
}

.server-name .drop-down {
    color: green;
    padding-left: 50px;
    margin-left: 30px;
}

.server-nav .invite {
    grid-area: invite;
    display: grid;
    grid-template-rows:
    10px repeat(3, 40px);
    grid-template-areas:
    'exit'
    'profile-pic'
    'blurb'
    'invite-button';
    gap: 5px;
    padding: 5px;
}

.invite .exit {
    grid-area: exit;
    color: green;
    margin-left: 150px;
}

.invite .profile-pic{
    grid-area: profile-pic;
    color: green;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: 60px;
}

.invite .blurb {
    grid-area: blurb;
    color: green;
    margin-left: 20px;
    margin-right: 20px;
}

.invite .invite-button {
    grid-area: invite-button;
    color: green;
    margin-left: 30px;
    margin-right: 30px;
}

.server-nav .server-category1 {
    grid-area: server-category1;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template:
    'server-title add-server-button' 20px
    'channel1 channel1' 30px
    'channel2 channel2' 30px/
    80px auto;
}

.server-category1 .server-title {
    grid-area: server-title;
    color: green;
}

.server-category1 .add-server-button {
    grid-area: add-server-button;
    color: green;
    margin-left: 50px;
    padding-left: 
}

.server-category1 .channel1 {
    grid-area: channel1;
}

.server-category1 .channel2 {
    grid-area: channel2;
}

.chat {
    border: 2px dotted;
    grid-area: chat;
}