*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 60px 215px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: 
    "servers header header"
    "servers channels main";
}

p {
    display:inline;
    padding: 0;
    margin: 0;
}

input {
    width: 96.5px;
}

h4 {
    display: grid;
    align-self: center;
    width:fit-content;
}
/*SECTION BY SECTION:*/

/*1 - STYLES THE HEADER*/

header {
    background-color:rgb(240, 240, 240);
    grid-area: header;
    border-bottom: 2px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 215px 1fr;
    grid-template-areas: "left right";
} 

/*STYLES THE HEADER ABOVE THE CHANNELS*/

header > div:nth-of-type(1){
    grid-area: left;
    padding: 12px;
}
header > div:nth-of-type(1) > div {
   display: grid;
   width:fit-content;
   grid-template-columns: 150px 30px;
   gap: 20px
}

header div div img {
    transform: scale(0.8);
}

/*STYLES THE HEADER ABOVE MAIN*/
header > div:nth-of-type(2) {
    display: grid;
    grid-area: right;
    grid-template-columns: 1fr 250px;
    grid-template-areas: "L R";
    background-color: white;
    align-content: center;
    padding: 0 20px 0 20px;
}

header > div:nth-of-type(2) > div:nth-of-type(1){
    display: grid;
    grid-area: L;
}

header > div:nth-of-type(2) > div:nth-of-type(2) {
    display: grid;
    grid-area: R;
    grid-template-columns: repeat(3, 1fr) 100px repeat(2, 1fr);
    gap: 12px; 
}
header > div:nth-of-type(2) > div:nth-of-type(2) > div {
    display: grid;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
}


/*2 - STYLES THE UTMOST LEFT MENU CONTAINING SERVER ICONS*/
.servers {
    background-color: rgb(220, 220, 220);
    grid-area: servers;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(auto, 30px);
    gap: 5px;
    align-content: start;
}

.logo {
    display: grid;
    background-color: white;
    border-radius: 40px;
    min-height: 40px;
    align-self: start;
}

/*3 - STYLES THE MENU CONTAINING THE VARIOUS CHANNEL CATEGORIES AND CHANNELS*/
.channels {
    background-color: rgb(240, 240, 240);
    grid-area: channels;
    display: grid;
    grid-template-rows: repeat(5, 3fr) 1fr;
} 

/*add friends*/
.channels > div:first-of-type {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}
.close {
    display: grid;
    justify-self: end;
}

.invites {
    grid-template-rows: 20px 30px 15px 15px 1fr;
}

.invites-contents {
    padding: 4px;
}

.channels .center {   
    display: grid;
    justify-self: center;
}

.invite-button button {
    background-color: rgb(56, 116, 147);
    color: white;
}
/*channels*/
.channels > div:last-of-type {
    background-color: rgb(230, 230, 230);
}

.channels > div {
    grid-template-rows: 40px 1fr;
}

.channel-collapse {
    grid-template-columns: 12px 1fr;
    width: 100%;
    text-transform: uppercase;

}

.channel-collapse img {
    transform: scale(0.5);
}

.channels > div > div{
    margin: 5px 0;
    display: grid;
}

.channels div div + div {
    padding: 0 10px;
}

.profile {
    display: grid;
    grid-template-columns: 40px 1fr repeat(3, 30px);
}
.profile > div > h4{
 place-self: center;
}

.profile > div:first-of-type {
    border-radius: 40px;
    background-color: aquamarine;
}
/*4 - STYLES THE MAIN PART WHERE THE SELECTED CHANNEL'S CONTENT IS DISPLAYED*/
.main {
    background-color: white;
    grid-area: main;
    display: grid;
    grid-template-rows: 10fr 5fr 1fr;
    padding: 0 20px 20px 20px;
}

.main > div {
    display: grid;   
}

.main > div > input {
    display: grid;
    max-width: none;
    width: 100%;   
}

h1 {
    font-size: 20px;
    font-weight: 900;
    transform: scale(0.9, 1);
}

/*GENEREAL OR RECURRENT CLASSES*/
