.grid {
  display: grid;
  grid-template-columns: 60px 250px 1fr;
  grid-template-rows: 50px 90vh;
  grid-template-areas:
    "left channel search"
    "left channel main";
}

.left-bar {
  display: grid;
  grid-area: left;
  background-color: yellow;
  border: 2px dotted #000;
  justify-content: center;
  padding: 8px;

  grid-template-rows: 60px 90vh;
  grid-template-areas:
    "first"
    "second";
  gap: 10px;
}

.first-section {
  display: grid;
  border: 2px dotted purple;
  grid-area: first;
}

.break {
  border: 1px solid black;
  margin-top: 8px;
}

.second-section {
  display: grid;
  border: 2px dotted red;
  align-self: start;
  grid-area: second;
  gap: 5px;
}

.icons {
  font-size: 12px;
  display: grid;
  place-content: center;
  border: 2px black dotted;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  gap: 5px;
  row-gap: 5px;
}





.channel-title {
  grid-area: channel-title;
  border: dotted 2px black;
}

.channel-section {
  display: grid;
  grid-area: channel-section;
  
  grid-template-rows: repeat(auto-fit, 1fr);

  margin: 5px;

 
}

.room {
  display: grid; 
  border: 2px dotted red;
  grid-template-rows: repeat(auto-fit, 40px);
  margin-top: 15px;
  
}


.channel {
 
 border: 2px dotted white;
}


.channel-bar {
  grid-area: channel;
  background-color: rgb(81, 255, 0);
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "channel-title"
    "channel-section"
    "channel-settings";
}

.channel-settings {
  display: grid;
  grid-area: channel-settings;
  border: dotted 2px black;
  grid-template-columns: 1fr 35px 35px 35px;
  
}

.username{
  border: dotted 2px red;
  margin: 5px;
  border-radius: 5px;
}

.microphone{
  border: dotted 2px white;
  margin: 5px 0px;
}

.headphones{
  border: dotted 2px blue;
  margin: 5px 0px;
}

.gear{
  border: dotted 2px purple;
  margin: 5px 0px;
}


.main-menu {
  display: grid;
  grid-area: main;
  background-color: grey;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "paragraph"
    "messages";
}

.search-menu {
  grid-area: search;
  background-color: green;
}

.messages {
  display: grid;
  grid-area: messages;
  border: dotted 2px black;
  grid-template-columns: 35px 1fr 35px 35px 35px 35px;
  margin: 2px;
  border-radius: 5px;
}

.plus{
  border: dotted 2px green;
  margin: 2px 0;
}

.send-message{
  border: dotted 2px red;
  margin: 2px 0;

}

.gift{
  border: dotted 2px purple;
  margin: 2px 0;

}

.gif{
  border: dotted 2px blue;
  margin: 2px 0;

}

.stickers{
  border: dotted 2px orangered;
  margin: 2px 0;

}

.emoji{
  border: dotted 2px brown;
  margin: 2px 0;

}

.paragraph {
  grid-area: paragraph;
  border: dotted 2px blue;
  overflow-y: scroll;
}

@media screen and (max-width: 880px) {
  .grid {
    grid-template:
      "left channel search" 50px
      "left channel main" 90vh /
      70px 150px 1fr;
  }
}
