* {
    margin: 0;
}
.grid {
    display:grid;
    grid-template-columns: 50px 200px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "icons rooms chat";
}
.roomgrid {
    height: 100%;
    display: grid;
    grid-template:
    "server"  50px
    "invite"  200px
    "general" 1fr
    "classes" 1fr
    "lobby"   1fr
    "staff"   1fr
    "user"    50px;
}
.chatgrid {
    height: 100%;
    display: grid;
    grid-template:
    "search" 50px
    "convo"  1fr
    "holla"  50px;
}
.search {
    display: grid;
    grid-template-columns: 10fr 50fr 5fr 5fr 5fr 15fr 5fr 5fr;
    grid-area: search;
    padding: 2px;
    align-content: center;
    background-color: rgb(132, 81, 19);
}
.chatgrid .search > button {
    border: dashed 1px black;
    border-radius: 50px;
    margin: 2px;
    height: 30px;
    width: 30px;
}
.chatgrid .search button:nth-last-child(3){
    width: 100px;
}
.convo {
    grid-area: convo;
    display:grid;
    align-content: end;
    gap: 5px;
    background-color: rgb(30, 107, 10);
}
.convo .new-chat-welcome {
    display:grid;
    background-color: teal;
    justify-self: start;
}
.message {
    display:grid;
    background-color: lightseagreen;
}
.hollerin {
    grid-area: holla;
    background-color: rebeccapurple;
}
.invite {
    display: grid;
    place-content: center;
    grid-area: invite;
    background-color: bisque;
}
.invite p {
    display: grid;
    place-content: center;
    border: dashed 1px black;
    height: 50px;
    width: 100px;
}
.icons {
    display: grid;
    gap: 1%;
    place-content: center;
    align-content: start;
    grid-area: icons;
    grid-template-rows: 50px repeat(auto-fit, 50px) 1fr;
    grid-template-columns: 100%;
    background-color: magenta;
}
.icons button {
    justify-self: center;
    margin: 2px;
    width: 45px;
    height: 45px;
    border: dashed 2px black;
    border-radius: 50% ;
}
.icons .spacer{
    margin: 5px;
    border: solid 2px black
}
.rooms {
    grid-area: rooms;
    background-color: cyan;
}
.chat {
    grid-area: chat;
    background-color: yellow;
}
.roomgrid > .general > p, .classes > p, .lobby > p, .staff > p {
    display: grid;
    place-content: center;
    border: dashed 1px black;
    height: 50px;
    width: 100px;
}

.general {
    display: grid;
    place-content: center;
    grid-area: general;
    background-color: aqua;
}
.classes {
    display: grid;
    place-content: center;
    grid-area: classes;
    background-color: burlywood;
}
.lobby {
    grid-area: lobby;
    display: grid;
    place-content: center;
    background-color: lightseagreen;
}
.staff {
    grid-area: staff;
    display: grid;
    place-content: center;
    background-color: teal;
}
.user {
    grid-area: user;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    background-color: olive;
    display: grid;
    align-content: center;
}
.user button {
    margin: 2px;
    height: 25px;
    width: 25px;
    border: 2px black dashed;
    border-radius: 50%;
}
.user button:nth-child(2) {
    border-radius:20%;
    width:75px;
}
.server {
    grid-area: server;
    display: grid;
    padding-left: 10px;
    align-content: center;
    background-color: lime;
}

@media screen and (max-width: 560px) {
    .grid {
        grid-template-columns: 50px 1fr;
        grid-template-areas: 
    "icons chat";
    }

    .rooms {
    display: none;
    }
}