* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    /* text-shadow: 1px 2px 5px blue, 2px 1px 5px red; */
}


/* CONTAINER */
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 
    "left-icons    left-menu     header" 50px
    "left-icons   left-menu    main" 1fr /
        70px       200px       1fr;
}


/* HEADER */
.header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr repeat(3, 30px) 150px repeat(2, 30px);
    padding: 10px;
    gap: 7px;

    border-bottom: solid 1px rgba(128, 128, 128, 0.216);
}

.class-1 {
    justify-self: start;
    align-self: center;

}

.notification {
    place-self: center;
    color: rgb(93, 92, 92);
}

.pin {
    place-self: center;
}

.profile-icon {
    place-self: center;
}

.search-bar {
    background-color: rgba(128, 128, 128, 0.246);
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-content: center;
}

.search-text {
    display: grid;
    font-size: 14px;
    color: gray;
    align-self: center;
    justify-self: start;
}

.search-icon {
    place-self: center;
}

.inbox {
    place-self: center;
}

.help {
    place-self: center;
}

/* LEFT ICONS */
.left-icons {
    grid-area: left-icons;
    background-color: rgba(128, 128, 128, 0.298);

    display: grid;
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    padding: 10px;
}

.icon {
    border: solid 1px black;
    border-radius: 60px;
}

.discord-logo {
    background-color: white;
    border: none;
    align-self: center;
}

.boolean {
    align-self: center;
    border: none;
}

.boolean-image {
    border-radius: 30px;
}
.duck {
    border: none;
}

.duck-icon {
    border-radius: 30px;
}

/* LEFT MENU */
.left-menu {
    grid-area: left-menu;

    display: grid;
    grid-template-rows: 50px 150px 1fr 40px;
    background-color: rgba(128, 128, 128, 0.13);
    
}

.server {
    display: grid;
    align-self: center;
    justify-self: start;
    padding-left: 10px;
}

.friends {
    padding: 10px;
    display: grid;
    justify-content: center;

    border-bottom: solid 1px rgba(128, 128, 128, 0.216);
    border-top: solid 1px rgba(128, 128, 128, 0.216);


}


/* CHANNELS */
.channels {
    padding: 10px;
    display: grid;
    grid-template-rows:100px 150px 1fr;
    gap: 5px;
}

/* GENERAL */
.general {
    display: grid;
    grid-template-rows: repeat(3, 30px);
}

.general-subheading {
    display: grid;
    justify-self: start;
    padding: 5px;
}

.general-1 {
    display: grid;
    justify-self: start;
    padding-left: 20px;
}

.general-2 {
    display: grid;
    justify-self: start;
    padding-left: 20px;
}

/* CLASSES */
.classes {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.class-subheading {
    display: grid;
    justify-self: start;
    padding: 5px;
}

.classes div:nth-of-type(n+2) {
    display: grid;
    justify-self: start;
    padding-left: 20px;
}

/* LOBBY */

.lobby {
    display: grid;
    grid-template-rows: repeat(4, 30px);
    gap: 2px;
}

.lobby-subheading {
    display: grid;
    justify-self: start;
    padding: 5px;
    padding-bottom: 5px;
}

.lobby div:nth-of-type(n+2) {
    display: grid;
    justify-self: start;
    padding-left: 20px;
}

/* PROFILE */

.profile {
    background-color: rgba(128, 128, 128, 0.21);
    padding: 10px;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    align-content: center;
}

.user-profile-photo {
    border-radius: 30px;
    align-self: center;
}

.username {
    font-size: 12px;
    align-self: center;
    justify-self: start;

}

/* MAIN SECTION */
.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 20px;
}

.messages {
    display: grid;
    grid-template-rows: 1fr;
    align-content: end;


    padding: 10px;
}

.welcome-text{
display: grid;
align-content: end;
justify-content: start;
font-size: 20px;
}
.message-2{
    font-size: 10px;
    display: grid;
    justify-content: start;
}

.type-bar {
    display: grid;
    border-top: 1px solid black;
    justify-content: start;
    padding: 10px;
}