<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.cdnlogo.com/logos/d/64/discord.png">
    <link rel="stylesheet" href="stylediscord.css">
    <title>Discord</title>
</head>
<body>
    <div class="grid">
        <div class="leftbar">
            <div class="DM"><img src="images/discord dm.png" alt=""></div>
            <div class="allservers">
                <p><img src="images/Unknown-removebg-preview.png" alt=""></p>
                <p><img src="images/booleanwhite.png" alt=""></p>
                <p><img src="images/codebar.png" alt=""></p>
                <p><span>&#43;</span></p>
                <p><img src="images/nav.png" alt=""></p>
            </div>
            <div class="download"><img src="images/down.png" alt=""></div>         
        </div>
        <div class="server">
            <div class="ID">Boolean UK <span>˅</span></div>
            <div class="profile">
                <img class="profilepic" src="images/siluh-removebg-preview.png" alt="">
                <p>An adventure begins <br>Let's add some friends!</p>
                <button>Invite Friends</button>
            </div>
            <div class="rooms">
                <p class="general">&#8964; GENERAL <span>&#43;</span><span>&#35;&#9997;general</span><span></span> <span>&#128266;&#128226;general</span></p>
                <p class="classes">&#8964; CLASSES <span>&#43;</span><span>&#35;&#128218;class-1</span><span></span> <span>&#128266;&#128226;class-2</span><span></span><span>&#128226;&#127824;&#128187;1</span><span></span><span>&#128226;&#127824;&#128187;2</span><span></span><span>&#128226;&#127824;&#128187;3</span></p>
                <p class="lobby">&#8964; LOBBY <span>&#43;</span><span>&#35;&#127914;random</span><span></span> <span>&#35;&#127918;gaming</span><span></span><span>&#35;&#127871;watching</span></p>
                <p class="staff">&#8964; STAFF <span>&#43;</span><span>&#35;&#127891;teaching</span><span></span> <span>&#128266;&#128226;teaching</span></p>
            </div>
            <div class="status">
                <img src="images/6 copy.png" alt="">
                <p>Jay Vithani <span>#6769</span></p>
                <p>&#9834;</p>
                <p>&#127911;</p>
                <p>&#9881;&#65039;</p>
            </div>
            </div>
        
        <div class="chat">
            <div class="header">
                <div class="room-name"><span>&#35;</span>&#128218;class-1</div>
                <div class="action">
                    <p class="notification">&#128276;</p>
                    <p class="pinned">&#128204;</p>
                    <p class="members">&#128100;</p>
                    <input type="text" placeholder="Search here&#128270;" name="search">
                    <p class="inbox">&#128421;&#65039;</p>
                    <p class="help">&#127384;</p>
                </div>
            </div>
            <div class="speech">
                <p>&#35;</p>
                <p>Welcome to &#35;&#128218;class-1! </p>
                <p>This is the start of the &#35;&#128218;class-1 <span>private</span> channel</p>
                <p>&#128100; Add memberd or roles <span>&#128394;&#65039; Edit channel</span></p>
                <div><img src="images/6 copy.png" alt=""><p>Jay Vithani <span>Today 09:30</span><span>Good morning Everyone !</span></p>  </div>
                <div><img src="images/3 Small-removebg-preview.png" alt=""><p>Norik Vardanyan <span>Today 09:33</span><span>Good morning bro!</span></p>  </div>
            </div>
            <!-- <div class="message">
                <p>What I said</p>                
            </div> -->
            <div class="input">
                <input type="text" placeholder="Message &#35;&#128218;class-1" name="message">
            </div>
    </div>
</div>

    
</body>
</html>