<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylediscord.css">
    <title>Discord</title>
</head>
<body>
    <div class="grid">
        <div class="leftbar">
            <div class="DM">PVT Messages</div>
            <div class="allservers">
                <button class="sidebar">server 1</button>
                <button class="sidebar">server 2</button>
                <button class="sidebar">server 3</button>
            </div>
            <div class="download">New Here</div>         
        </div>
        <div class="server">
            <div class="ID">Where am I??</div>
            <div class="profile">Who Am I??</div>
            <div class="rooms">
                <p>room 1</p>
                <p>room 2</p>
                <p>room 3</p>
                <p>room 4</p>
            </div>
            <div class="status">user status</div>
        </div>
        <div class="chat">
            <div class="header">
                <p>room name</p>
                <div class="action">
                    <button class="notification">
                        <img src="/images/notification.png" width = "19" height = "19" alt="n">
                    </button>
                    <button class="pinned">
                        <img src="/images/pin.png" alt="p">
                    </button>
                    <button class="members">
                        <img src="/images/members.png" alt="m">
                    </button>
                    <input type="text" placeholder="Search here" name="search">
                    <button class="inbox">
                        <img src="/images/inbox.png" alt="i">
                    </button>
                    <button class="help">
                        <img src="/images/help.png" alt="h">
                    </button>
                </div>
            </div>
            <div class="speech">
                <p>What did everyone say?</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime totam cum vero ad animi ut velit delectus, ipsa mollitia voluptas nulla deserunt voluptatibus excepturi optio esse doloribus. Quia, repellat sapiente.
                Explicabo, voluptatibus vitae quaerat numquam excepturi itaque minima est hic voluptate deserunt, corporis eius deleniti omnis cupiditate quam quidem. Quo omnis hic veritatis laboriosam maxime recusandae cumque dicta reiciendis aliquid!
                Reprehenderit veritatis officia libero fugit! Maiores quas quis ullam rerum ut voluptas iusto numquam exercitationem. Modi ut rerum cumque corrupti, labore totam sequi nam ab atque consectetur minus error beatae?
                Accusantium, deleniti, molestiae nesciunt, quaerat quos eaque sequi labore dolores distinctio in tenetur doloribus dolorum pariatur nemo ut accusamus aspernatur quasi voluptas veniam aperiam soluta? Consequatur ipsam magni impedit obcaecati!
                Eligendi, quae minus? Vitae velit eum explicabo, repellat nulla repellendus adipisci. Sequi impedit autem, placeat culpa maiores in rerum nihil, atque velit reiciendis asperiores. Quo fugit voluptates necessitatibus quod enim?
                Quae tempore maxime, sit fugit ducimus ipsam doloremque nihil eius, eaque odit doloribus ut autem aperiam at reiciendis sapiente consectetur voluptate dolores qui deleniti unde! Voluptate minima earum ipsa sed?
                Ipsam numquam repellat eius quidem excepturi! Quia, sunt expedita. Veritatis eveniet quae ipsa aperiam sequi rerum! Quia, ex modi nostrum sequi dolore atque mollitia voluptas laborum quae doloremque. Veniam, earum?
                Totam blanditiis, tempore esse quibusdam vitae ipsa amet officiis odio tempora recusandae, expedita explicabo exercitationem laborum aspernatur dicta cum consectetur at beatae culpa. Aliquid ullam ea porro, dolore doloremque non!
                Fugiat totam enim ut expedita ad sapiente libero. Nemo error corporis recusandae voluptatum modi fugiat voluptate, incidunt suscipit quo sint voluptates natus exercitationem! In, corporis velit odio maxime rem deserunt.
                Officia, expedita corporis. Veritatis fugit tenetur quae quo voluptatem officia vero odit aperiam, at voluptatibus illo nemo ea minima nihil maxime voluptate et, facilis eaque debitis, necessitatibus sint dolore. Laborum.</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </div>
            <!-- <div class="message">
                <p>What I said</p>                
            </div> -->
            <div class="input">
                <input type="text" placeholder="Type message here" name="message">
            </div>
    </div>
</div>

    
</body>
</html>