<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Screenshot 2023-03-22 at 19.42.16.png">
    <link rel="stylesheet" href="gmailstyle.css">
    <title>Gmail</title>
</head>
<body>
    <div class="grid">
        <div class="header">
            <div class="icon">
                <div class="button">
                    <img class="moreimg" src="images/1729060-200.png" alt="">
                </div>
                <div class="envelope">
                    <img src="images/Screenshot 2023-03-22 at 19.42.16.png" alt="">
                </div>
                <div class="gmail">Gmail</div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search mail" name="search">
            </div>
            <div class="account">
                <p class="bttn1">?</p>
                <p class="bttn2">&#9881</p>
                <p class="bttn3">&#11820</p>
                <button class="acc"></button>
            </div>
        </div>
        <div class="menu">
            <div class="compose">
                <button class="composebutton">
                    <span class="plus">+</span><span class="comp" >Compose</span> 
                </button>
            </div>  
            <dix class="folders">
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Inbox</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Starred</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Snoozed</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Sent</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Team</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">New RFPs</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Projects</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">Personal</p>
                </div>
                <div>
                    <p class="icons">∆</p>
                    <p class="foldername">More</p>
                </div>
            </dix>
            <div class="meet">
                    <p class="meet1">Meet</p>
                    <p class="meet2">Start a meeting</p>
                    <p class="meet3">Join a meeting</p>
            </div>
            <div class="chat">
                <p>Chat</p>
                <div class="friends">Lee Kelly</div>
                <div class="friends">Todd Griffin</div>
                <div class="friends">Norik Vardanyan</div>
                <div class="friends">Marc Alzapiedi</div>
                <div class="friends">Priya Singh</div>
                <div class="friends">Jay Vithani</div>
            </div>
            <div class="actions">
                <div>
                    <img class="chaticon" src="/images/chat-icon-png-favpng-VKinQiXDg2r36LkdNHRSUCeDr-removebg-preview.png" alt="">
                </div>
                <div>
                    <img class="personicon" src="images/367-3671905_person-icon-person-icon-silhouette-removebg-preview.png" alt="">
                </div>
                <div >
                    <img class="phoneimg" src="/images/phone-512.webp" alt="">
                </div>
            </div>
        </div>
        <div class="mail">
            <div class="options">
                <p class="sq">&#9634</p>
                <p class="refresh">&#8634</p>
                <p class="dots">&#8411</p>
                <p class="pages">1-5 of 10</p>
                <p class="arrow1">&#706</p>
                <p class="arrow2">&#707</p>
            </div>
            <div class="inbox">
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">8:15 AM</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">8:15 AM</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <p class="date">Nov 15</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="date">Nov 15</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 15</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 1</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 1</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 1</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 1</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Nov 1</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 30</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 30</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 30</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 30</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 30</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 24</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 24</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 24</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 24</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 24</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 19</p>
                </div>
                <div class="message">
                    <p class="mark">&#9634</p>
                    <p class="star">&#9734</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="date">Oct 19</p>
                </div>
            </div>
        </div>
        <div class="settings">
            <div class="quicksettings">
                <p class="qset">Quick Settings</p>
                <p class="ex">&#215</p>
            </div>
            <div class="density">
                <div class="dens1">Density</div>
                <div class="dens2">
                    <div class="dens2-1">&#x26AC</div>
                    <div class="dens2-2">Default</div>
                </div>
                <div class="dens3">
                    <div class="dens3-1">&#x26AC</div>
                    <div class="dens3-2">Comfortable</div>
                </div>
                <div class="dens4">
                    <div class="dens4-1">&#x26AC</div>
                    <div class="dens4-2">Compact</div>
                </div>
            </div>
            <div class="theme">
                <div class="theme1">
                    <div class="theme1-1">Theme</div>
                    <div class="theme1-2">View all</div>
                </div>
                <div class="theme2">
                    <div class="theme2-1">
                        <div class="themepic1"></div>
                        <div class="themepic2"></div>
                        <div class="themepic3"></div>
                        <div class="themepic4"></div>
                    </div>
                        <div class="theme2-2">
                        <div class="themepic5"></div>
                        <div class="themepic6"></div>
                        <div class="themepic7"></div>
                        <div class="themepic8"></div>
                    </div>
                </div>
            </div>
            <div class="type">
                <div class="type1">Inbox type</div>
                <div class="type2">
                    <div class="type2-1">&#x26AC</div>
                    <div class="type2-2">Default</div>
                </div>
                <div class="type3">
                    <div class="type3-1">&#x26AC</div>
                    <div class="type3-2">Inportant first</div>
                </div>
                <div class="type4">
                    <div class="type4-1">&#x26AC</div>
                    <div class="type4-2">Unread first</div>
                </div>
                <div class="type5">
                    <div class="type5-1">&#x26AC</div>
                    <div class="type5-2">Something</div>
                </div>
                <div class="type6">
                    <div class="type6-1">&#x26AC</div>
                    <div class="type6-2">Something</div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav1">📅</div>
            <div class="nav2">&#128161</div>
            <div class="nav3">&#128309</div>
            <div class="nav4">&#x2b</div>
        </div>
    </div>
</body>
</html>