<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/174857.png" >
    <link rel="stylesheet" href="stylelinkedin.css">
    <title>LinkedIn</title>
</head>
<body>
    <div class="grid">
        <div class="nav">
            <div class="header">
                <div class="icon">
                    <img src="images/174857.png" alt="icon">
                </div>
                <div class="search">
                    <div class="searchbar"><input type="search" placeholder="&#128269 Search"></div>
                </div>
                <div class="icons">
                    <div class="ic1"><span>&#8962</span>Home</div>
                    <div class="ic2"><span>&#128101;</span>My Network</div>
                    <div class="ic3"><span>&#128188;</span>Jobs</div>
                    <div class="ic4"><span>&#128232;</span>Messaging</div>
                    <div class="ic5"><span>&#128276;</span>Notifications</div>
                    <div class="ic6"><span>&#128585;</span>Me ⌄</div>
                    <div class="ic7"><span>&#11820;</span>Work⌄</div>
                    <div class="ic8"><span>&#129703;</span>Post a Job</div>
                        
                </div>
            </div>
        </div>
        <div class="leftbar">
            <div class="name">
                <div class="item1"><img src="images/IMG_4100.png" alt="me">
                    <p>Mantas Navickis</p>
                    <p>Student at Boolean UK</p>
                </div>
                <div class="item2">Who viewed your profile <span>166</span>Views of your post<span>170</span></div>
                <div class="item3"><i> Acces exclusive tools & insights</i>&#128499;&#65039; Try Premium Freefor 1 month</div>
                <div class="item4">&#9660; My Items</div>
            </div>
            <div class="company">
                <div class="notif">
                    <img src="images/Unknown-removebg-preview.png" alt="Boolean">
                    <p>Boolean</p>
                    <p>Page notifications <i>17</i></p>
                    <br>
                    <p>Page visitors<i>155</i></p>
                </div>
                <div class="analytics"> See visotor analytics</div>
            </div>
            <div class="recent">
                <div class="recent1">
                    <p>Recent</p>
                    <p>&#35;  javascript</p>
                    <p>&#35;  css</p>
                    <p>&#35;  html</p>
                    <p>&#35;  react</p>
                    <p>&#35;  c++</p>
                </div>
                <div class="recent2">
                    <p>Groups</p>
                    <p>&#128483;  Flatiron School</p>
                    <p>&#128483;  Alumni Network</p>
                    <p>&#128483;  React Developers</p>
                    <p>Show more<i>⌄</i></p>
                </div>
                <div class="recent3"><p>Event</p><p>&#43;</p></div>
            </div>
        </div>
        <div class="main">
            <div class="create">
                <div class="line1">
                    <div class="pic"><img src="images/IMG_4100.png" alt="me"></div>
                    <div class="post"><input type="search" placeholder="Start a post"></div>
                </div>
                <div class="line2">
                    <div class="icn1">&#128444;&#65039; Photo</div>
                    <div class="icn2">&#128249; Video</div>
                    <div class="icn3">&#128195; Document</div>
                    <div class="icn4">&#128240; Article</div>
                </div>
            </div>
            <div class="feed">
                <div class="feed1">
                    <p>Boolean <span>and </span>Norik Vardanyan <span>reacted to this</span></p> 
                    <p><img src="images/IMG_4100.png" alt="me"><span>Mantas Navickis <span>Future Software Developer</span> <span>1h ago &#127760;</span></p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis temporibus dolor aliquid,<span>consequuntur beatae</span> voluptatibus vel, veniam, quia vero culpa<span>nemo labore</span> numquam commodi.</p>
                    <p>Lorem ipsum dolor sit amet<span>consectetur</span> adipisicing elit. Consequuntur, reiciendis.</p>
                    <p><img src="images/Screenshot 2023-03-25 at 10.31.20.png" alt="post"></p>
                    <p>&#128077;&#128077;&#127998; 15</p>
                    <p>&#128077;&#127995; Like<span>&#128172; Comment</span><span>&#8618;Share</span><span>&#10166;Send</span></p>
                </div>
                <div class="feed2">
                    <p>Boolean <span>and </span>Jay Vithani <span>reacted to this</span></p> 
                    <p><img src="images/IMG_4100.png" alt="me"><span>Mantas Navickis <span>Future Software Developer</span> <span>1h ago &#127760;</span></p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis temporibus dolor aliquid,<span>consequuntur beatae</span> voluptatibus vel, veniam, quia vero culpa<span>nemo labore</span> numquam commodi.</p>
                    <p>Lorem ipsum dolor sit amet<span>consectetur</span> adipisicing elit. Consequuntur, reiciendis.</p>
                    <p><img src="images/Screenshot 2023-03-25 at 03.36.19.png" alt="post"></p>
                    <p>&#128077;&#128077;&#127998; 15</p>
                    <p>&#128077;&#127995; Like<span>&#128172; Comment</span><span>&#8618;Share</span><span>&#10166;Send</span></p>
                </div>
                <div class="feed3">
                    <p>Boolean <span>and </span>Lee Kelly <span>reacted to this</span></p> 
                    <p><img src="images/IMG_4100.png" alt="me"><span>Mantas Navickis <span>Future Software Developer</span> <span>1h ago &#127760;</span></p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis temporibus dolor aliquid,<span>consequuntur beatae</span> voluptatibus vel, veniam, quia vero culpa<span>nemo labore</span> numquam commodi.</p>
                    <p>Lorem ipsum dolor sit amet<span>consectetur</span> adipisicing elit. Consequuntur, reiciendis.</p>
                    <p><img src="images/Screenshot 2023-03-25 at 03.34.53.png" alt="post"></p>
                    <p>&#128077;&#128077;&#127998; 15</p>
                    <p>&#128077;&#127995; Like<span>&#128172; Comment</span><span>&#8618;Share</span><span>&#10166;Send</span></p>
                </div>
            </div>
        </div>
        <div class="rightbar">
            <div class="news">
                <div class="lin1">
                    <p>LinkedIn News <p>&#9432;</p></p>
                </div>
                <div class="lin2">
                    <p>&#9022; IWD2023: Inspiring female leadership <p>Top news &#183; 13,111 readers</p></p>
                </div>
                <div class="lin3">
                    <p>&#9022; So WTF is Nested Loops <p>20min ago &#183; 1,142 readers</p></p>
                </div>
                <div class="lin4">
                    <p>&#9022; Why Javascript is hard ? <p>1 day ago &#183; 3,195 readers</p></p>
                </div>
                <div class="lin5">
                    <p>&#9022; I love css <p>2 days ago &#183; 1 readers</p></p>
                </div>
                <div class="lin6">
                    <p>&#9022; Still can't center elements right <p>3 days ago &#183; 13,111 readers</p></p>
                </div>
                <div class="lin7">Show more ⌄ </div>
            </div>
            <div class="mostviewed">
                <div class="mostviewed1">
                    <p>Today's most viewed courses <p>&#9432;</p></p>
                </div>
                <div class="mostviewed2">
                    <p>1. The six Morning Habits <p> Jules Ng | How to be awsome</p></p>
                </div>
                <div class="mostviewed3">
                    <p>2. Speaking Confidently <p>Jules Ng | How to be awsome </p></p>
                </div>
                <div class="mostviewed4">
                    <p>3. Software developer <p>Jules Ng | How to be awsome</p></p>
                </div>
                <div class="mostviewed5">
                    <p>Show more on LinkedIn Learning &#10140;</p>
                </div>
            </div>
            <div class="recomendations">
                <div class="rec1">
                    <p>Add to your feed <p>&#9432;</p></p>
                </div>
                <div class="rec2">
                    <img src="images/js.png" alt="js logo">
                    <p>Javascript <span>Company &#183; E-learning</span> <button>&#43;Follow</button></p>
                </div>
                <div class="rec3">
                    <img src="images/css copy.png" alt="js logo">
                    <p>CSS <span>Company &#183; E-learning</span> <button>&#43;Follow</button></p>
                </div>
                <div class="rec4">
                    <img src="images/react-logo.png" alt="js logo">
                    <p>React JS <span>Company &#183; E-learning</span> <button>&#43;Follow</button></p>
                </div>
                <div class="rec5"> View all recommendations &#10140;</div>
            </div>
        </div>
    </div>
</body>
</html>