<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylelinkedin.css">
    <title>LinkedIn</title>
</head>
<body>
    <div class="grid">
        <div class="nav">
            <div class="header">
                <div class="icon"></div>
                <div class="search">
                    <div class="searchbar"></div>
                </div>
                <div class="icons">
                    <div class="ic1"></div>
                    <div class="ic2"></div>
                    <div class="ic3"></div>
                    <div class="ic4"></div>
                    <div class="ic5"></div>
                    <div class="ic6"></div>
                    <div class="ic7"></div>
                    <div class="ic8"></div>
                        
                </div>
            </div>
        </div>
        <div class="leftbar">
            <div class="name">
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="item3"></div>
                <div class="item4"></div>
            </div>
            <div class="company">
                <div class="notif"></div>
                <div class="analytics"></div>
            </div>
            <div class="recent">
                <div class="recent1"></div>
                <div class="recent2"></div>
                <div class="recent3"></div>
            </div>
        </div>
        <div class="main">
            <div class="create">
                <div class="line1">
                    <div class="pic"></div>
                    <div class="post"></div>
                </div>
                <div class="line2">
                    <div class="icn1"></div>
                    <div class="icn2"></div>
                    <div class="icn3"></div>
                    <div class="icn4"></div>
                </div>
            </div>
            <div class="feed">
                <div class="feed1"></div>
                <div class="feed2"></div>
                <div class="feed3"></div>
            </div>
        </div>
        <div class="rightbar">
            <div class="news">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                <div class="line4"></div>
                <div class="line5"></div>
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
            <div class="mostviewed">
                <div class="mostviewed1"></div>
                <div class="mostviewed2"></div>
                <div class="mostviewed3"></div>
                <div class="mostviewed4"></div>
                <div class="mostviewed5"></div>
            </div>
            <div class="recomendations">
                <div class="rec1"></div>
                <div class="rec2"></div>
                <div class="rec3"></div>
                <div class="rec4"></div>
                <div class="rec5"></div>
            </div>
        </div>
    </div>
</body>
</html>