* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--font-color);
}

html,
body,
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

:root {
  --header-bg: #333;
  --server-menu-bg: #191919;
  --channel-bg: #292929;
  --channel-footer-bg: #252525;
  --chat-bg: #383838;

  --icon-color: #666;

  --hover-dark: #444;
  --hover-highlight: #fff;

  --font-color: #ccc;

  --header-height: 80px;
  --channel-width: 275px;
  --footer-height: 60px;

  font-size: 16px;
}

::-webkit-scrollbar {
  background-color: var(--channel-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--server-menu-bg);
  border-radius: 10px;
}

hr {
  width: 80%;
  border: 1px solid var(--header-bg);
}

.hr {
  width: 100%;
  border: 1px solid var(--header-bg);
}

input {
  width: 100%;
  border: none;
  outline: none;
}

.nowrap-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

.container {
  display: grid;
  grid-template-areas:
    "server-menu header header header"
    "server-menu channel-container chat-area users";

  grid-template-columns: var(--header-height) var(--channel-width) 1fr 250px;
  grid-template-rows: 50px 1fr;
}

.box {
  display: grid;
  place-content: center;
  gap: 10px;
}

.pad-10 {
  padding: 10px;
}

/* ======== header ======== */

.header {
  padding: 0 10px 0 0;
  grid-area: header;

  grid-template:
    1fr / var(--channel-width) min-content 1fr repeat(4, min-content)
    auto repeat(2, min-content); /*TODO: part of the search bar mess? */
  justify-items: start;

  background-color: var(--header-bg);
  border-bottom: #00000075 1px solid;
}

.header img {
  height: 24px;
}

.channel-header {
  grid-template-columns: auto 1fr auto;
  justify-items: start;
  gap: 10px;

  width: 100%;
  background-color: var(--channel-bg);
}

.channel-header img {
  height: 16px;
}

.search {
  grid-template-columns: 1fr auto;
  align-self: center;
  justify-content: left;

  height: 30px;
  max-width: 100px;
  background-color: var(--server-menu-bg);
  border-radius: 2px;
  transition: max-width 0.5s ease-in;
}

.search input {
  background-color: var(--server-menu-bg);
}

/*
TODO: the search bar doesn't expand any bigger
than 180px and I don't know why :(
*/

.search:focus-within {
  max-width: 100vw;
}

/* ======== server menu ======== */

.server-menu {
  grid-area: server-menu;

  padding-left: 0;
  padding-right: 0;

  background-color: var(--server-menu-bg);

  align-content: start;
  justify-items: center;

  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
}

.server-menu .box {
  grid-template-columns: 1fr 50px 1fr;
  grid-template-areas: "highlight img .";
  padding: 0;
}

.server-img {
  grid-template-columns: 1fr;
  place-items: center;

  height: 50px;
  border-radius: 100%;
  overflow: hidden;

  transition: 0.25s;

  background-color: var(--header-bg);
}

.server-menu img {
  grid-area: img;
  height: 32px;
}

.boolean img,
.cirno img,
.tesseract img {
  height: 50px;
}

.hover-appear {
  height: 15px;
  width: 5px;

  align-self: center;
  border-radius: 0 2px 2px 0;

  transform: translateX(-6px);

  transition: 0.3s;

  background-color: var(--hover-highlight);
}

.hover:hover > .hover-appear {
  transform: translateX(0);
}

#active-server .highlight {
  grid-area: "highlight";
  align-self: center;
  height: 40px;
  width: 5px;
  border-radius: 0 2px 2px 0;

  transform: translateX(0);

  background-color: var(--hover-highlight);
}

/* ======== side menus ======== */

.server-container {
  grid-area: channel-container;
  grid-template: 1fr var(--footer-height) / 1fr;
}

.user-container {
  grid-area: users;
  grid-template: 1fr / 1fr;
}

.side-container {
  overflow-y: scroll;
  gap: 0;
}

.side-container::-webkit-scrollbar {
  display: none;
}

.side-menu {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  align-content: start;
  justify-items: left;
  padding: 20px 10px 10px 10px;
  gap: 20px;

  background-color: var(--channel-bg);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  display: none;
  width: 8px;
}

.side-menu .expand {
  transition: 0.2s;
}

.side-menu .box {
  grid-template: 1fr / 1fr;
  align-items: center;
  width: 100%;
}

.side-menu .browse-channels,
.side-menu .menu-group,
.side-menu li.box {
  grid-template: 1fr / auto 1fr;
}

.side-menu .group-list {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  align-items: start;
}

.side-menu input {
  display: none;
}

.side-menu input:checked ~ label img {
  rotate: 0deg;
}

.item-list {
  display: none;
  gap: 0;
}

.browse-channels,
.item-list li {
  padding: 5px;
}

.side-menu input:checked ~ .item-list {
  display: grid;
}

.side-menu li {
  list-style: none;
}

.menu-group {
  border: none;
  text-decoration: none;
}

.server-container img {
  height: 24px;
}

.user-container img {
  height: 32px;
  border-radius: 100%;
}

.menu-group {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.menu-group img {
  height: 10px;
  rotate: -90deg;
}

.side-container .footer {
  grid-template: 1fr / 1fr auto;
  align-items: center;

  padding: 10px;

  background-color: var(--channel-footer-bg);
}

.footer-profile-container {
  grid-template: 1fr / auto 1fr;
  gap: 10px;
  padding: 2px;
}

.footer-profile-container img {
  height: 40px;
  border-radius: 100%;
}

.footer-profile {
  justify-items: left;
  gap: 0;
  font-size: 0.9em;
}

.user-name {
  font-weight: bold;
  color: var(--hover-highlight);

  width: 100%;
}

.voice-controls {
  grid-template: 1fr / repeat(3, auto);
  justify-self: right;
  gap: 0;
}

.voice-controls img {
  height: 24px;
}

.voice-controls .box {
  padding: 6px;
}

#check-teachers ~ ol li div{
  color: #4e7;
}

#check-student ~ ol li div{
  color: #54e;
}

#check-online ~ ol li div{
  color: #888;
}

#check-offline ~ ol li div,
#check-offline ~ ol li{
  color: #e5a;
  opacity: 50%;
}
/* ======== chat area ======== */

.chat-area {
  grid-area: chat-area;
  grid-template: 1fr var(--footer-height) / 1fr;

  padding: 0;
  gap: 0;

  background-color: var(--chat-bg);
  overflow-y: scroll;
}

.chat-area::-webkit-scrollbar {
  width: 0;
}

.chat-container {
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;

  gap: 0;
  padding-bottom: 12px;
  margin-right: 4px;

  align-content: start;
  overflow-y: scroll;

  background-color: var(--chat-bg);
}

.chat-container::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.chat-container::-webkit-scrollbar-track {
  border-radius: 50px;
  margin: 2px 0 18px 0;

  background-color: var(--header-bg);
}

.chat-start {
  padding: 24px 12px 24px 12px;
}
.chat-start h1 {
  margin-top: 18px;
  margin-bottom: 18px;

  color: var(--hover-highlight);
}

.hashtag {
  height: 75px;
  width: 75px;

  border-radius: 100%;

  background-color: var(--icon-color);
}

.date {
  font-size: 0.9em;
  color: var(--icon-color);
}
.date-hr {
  grid-template: auto / 1fr auto 1fr;
  justify-items: right;
  align-items: center;
}
.date-hr .hr {
  height: 1px;
  width: 95%;
  border-bottom: 1px solid var(--icon-color);
}
.date-hr .hr:nth-of-type(2) {
  justify-self: left;
}

.chat-entry {
  grid-template-areas:
    "sender-icon message-details ."
    "sender-icon message-body ."
    "sender-icon message-reaction .";
  column-gap: 0;

  grid-template-columns: 80px 1fr 40px;
  padding: 16px 0 16px 0;
}

.sender-icon {
  grid-area: sender-icon;
  align-content: start;
  justify-content: center;
}
.sender-icon img {
  height: 40px;
  border-radius: 100%;
}
.sender-name {
  color: dodgerblue;
}

.message-details {
  grid-area: message-details;
}
.message-body {
  grid-area: message-body;
}
.message-reaction {
  grid-area: message-reaction;
  grid-template-columns: repeat(auto-fit, minmax(6ch,auto));

  gap: 3px;
  justify-content: start;
}
.react-box {
  grid-template: auto / repeat(2, auto);
  padding: 3px 10px;
  align-items: center;

  border-radius: 10px;
  border: var(--channel-bg) 1px solid;
  background-color: var(--channel-bg)
}
.chat-footer {
  grid-template: 1fr / 1fr;
  padding: 20px;
}

.input-box {
  grid-template-columns: auto 1fr repeat(4, minmax(0, auto));
  grid-template-rows: auto;

  padding: 10px;
  align-items: center;
  
  border-radius: 10px;

  transform: translateY(-18px);
  background-color: #444;
}

.input-box img {
  height: 24px;
}

.input-box input {
  background-color: inherit;
}

.input-box .emoji {
  font-size: 20px;
  filter: grayscale(100%);
}

footer > div {
  width: 100vw;
  background-color: #000;
}

/* ======== hover effects ======== */

.hover-box:hover {
  cursor: pointer;
  border-radius: 4px;
  color: var(--hover-highlight);
  background-color: var(--hover-dark);
}

.hover-highlight:hover,
.hover-highlight:hover div {
  cursor: pointer;
  color: var(--hover-highlight);
  border-radius: 5px;
}

.react-box:hover {
  border-radius: 10px;
  border: var(--font-color) 1px solid;
}

#active-server .hover-squarcle,
.hover-squarcle:hover {
  cursor: pointer;
  border-radius: 35%;
}

.channel-header:hover {
  border-radius: 0;
}

.side-menu:hover {
  padding-right: 2px;
}

.side-menu:hover::-webkit-scrollbar {
  display: block;
}

#check-offline ~ ol > li:hover {
  opacity: 100%;
}