* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 64px 1fr / 256px 1fr;
    background-color: #f6f8fc;
}

.btn {
    background: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}


.btn:hover {
    background-color: rgba(60, 64, 67, .1);
}

.btn svg {
    fill: #5f6368;
}

/* header */
.header {
    width: 100%;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header__logo {
    min-width: 238px;
    height: 48px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__btn {
    margin: 0 4px;
}

.header__searchbar {
    position: relative;
    padding: 0 30px 0 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 48px;
}

.header__searchbar-wrap {
    position: relative;
    background-color: #eaf1fb;
    border-radius: 24px;
    min-height: 48px;
    max-width: 720px;
    width: 720px;
    display: flex;
    align-items: center;
}

.header__searchbar-wrap:has(.header__searchbar-input:focus) {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15);
}

.header__searchbar-btn {
    margin: 0 6px;
}

.header__searchbar-btn:first-child {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
}

.header__searchbar-btn:last-child {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
}

.header__searchbar-input {
    margin: 0 96px 0 44px;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 16px;
    color: #000;
    border: none;
    background: none;
}

.header__searchbar-input::placeholder {
    font-size: 16px;
}

.header__searchbarButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.header__searchbarButtons-btn:nth-child(1) {
    width: 40px;
    height: 40px;
}

.header__searchbarButtons-btn:nth-child(2) {
    width: 40px;
    height: 40px;
}

.header__buttons {
    height: 48px;
    display: flex;
    align-items: center;
}

.header__buttons-btn:nth-child(1) {
    width: 40px;
    height: 40px;
}

.header__buttons-btn:nth-child(2) {
    width: 40px;
    height: 40px;
}

.header__buttons-btn:nth-child(2) img {
    border-radius: 50%;
}

/* sidebar */
.sidebar {
    grid-area: 2 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
}

.sidebar__bigButton {
    width: 100%;
    height: auto;
}

.sidebar__bigButton-button {
    height: 56px;
    margin: 8px 0 16px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: #001d35;
    padding: 0 24px 0 0;
    min-width: 96px;
    cursor: pointer;
    font-size: .875rem;
    background-color: #c2e7ff;
    border: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.sidebar__bigButton-button:hover {
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.sidebar__bigButton-button::before {
    content: '';
    min-width: 56px;
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_24dp.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.navigatio {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 240px;
    min-width: 240px;
}

.navigation__list-item {
    position: relative;
    width: 100%;
    display: flex;
    height: 32px;
    padding: 0 12px 0 26px;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
}

.navigation__list-item--active {
    background-color: #d3e3fd;
}

.navigation__list-item:hover {
    background-color: rgba(32, 33, 36, 0.059);
}

.navigation__list-item a {
    display: flex;
    align-items: center;
}

.navigation__list-img {
    width: 20px;
    height: 20px;
    margin-right: 18px;
}

.navigation__list-title {
    color: #202124;
    font-weight: 400;
    font-size: .875rem;
}

.navigation__list-item--active .navigation__list-title {
    font-weight: 600;
}

.navigation__list-item--active:hover {
    background-color: #d3e3fd;
}

.navigation__list-bumber {
    position: absolute;
    right: 12px;
    color: #001d35;
    font-weight: 700;
    font-size: .75rem;
    line-height: 20px;
    white-space: nowrap;
}


.navigation__title {
    max-width: 240px;
    margin-bottom: 12px;
    padding: 8px 8px 0 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__title-text {
    font-size: 16px;
    font-weight: 500;
    color: #1f1f1f;
}

.navigation__list-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__list-btn img {
    width: 20px;
    height: 20px;
}


/* content */
.content {
    grid-area: 2 / 2 / -1 / -1;
    padding-right: 15px;
}

.content__wrap {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    overflow-y: hidden;
}

.content__header {
    position: relative;
    width: 100%;
    display: flex;
    height: 48px;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

.content__headerButtons {
    display: flex;
    align-items: center;
    height: 20px;
}

.content__header-checkbox {
    height: 100%;
    margin-left: 16px;
    margin-right: 12px;
    display: flex;
}

.content__header-checkbox img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.content__header-checkbox button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.content__header-btn {
    width: 38px;
    height: 38px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content__headerNavigation {
    display: flex;
    align-items: center;
    height: 20px;
    margin-left: 10px;
    padding-right: 20px;
}

.content__headerNavigation-pages {
    background: none;
    border: none;
    color: #5e5e5e;
    font-size: .75rem;
    cursor: pointer;
}

.content__headerNavigation-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.content__headerNavigation-arrow:not(:last-child) {
    margin-left: 20px;
}