* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 64px 1fr / 256px 1fr;
    background-color: #f6f8fc;
}

.btn {
    background: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}


.btn:hover {
    background-color: rgba(60, 64, 67, .1);
}

.btn svg {
    fill: #5f6368;
}

/* header */
.header {
    width: 100%;
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header__logo {
    min-width: 238px;
    height: 48px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__btn {
    margin: 0 4px;
}

.header__searchbar {
    position: relative;
    padding: 0 30px 0 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 48px;
}

.header__searchbar-wrap {
    position: relative;
    background-color: #eaf1fb;
    border-radius: 24px;
    min-height: 48px;
    max-width: 720px;
    width: 720px;
    display: flex;
    align-items: center;
}

.header__searchbar-wrap:has(.header__searchbar-input:focus) {
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, .3), 0 1px 3px 1px rgba(65, 69, 73, .15);
}

.header__searchbar-btn {
    margin: 0 6px;
}

.header__searchbar-btn:first-child {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
}

.header__searchbar-btn:last-child {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
}

.header__searchbar-input {
    margin: 0 96px 0 44px;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 16px;
    color: #000;
    border: none;
    background: none;
}

.header__searchbar-input::placeholder {
    font-size: 16px;
}

.header__searchbarButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.header__searchbarButtons-btn:nth-child(1) {
    width: 40px;
    height: 40px;
}

.header__searchbarButtons-btn:nth-child(2) {
    width: 40px;
    height: 40px;
}

.header__buttons {
    height: 48px;
    display: flex;
    align-items: center;
}

.header__buttons-btn:nth-child(1) {
    width: 40px;
    height: 40px;
}

.header__buttons-btn:nth-child(2) {
    width: 40px;
    height: 40px;
}

.header__buttons-btn:nth-child(2) img {
    border-radius: 50%;
}

/* sidebar */
.sidebar {
    grid-area: 2 / 1 / -1 / 2;
}




/* content */
.content {
    grid-area: 2 / 2 / -1 / -1;
}