:root {
    --main-text-colour: #424242;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--main-text-colour);
}


/* CONTAINER */
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 
    "logo        search-bar   other-links  other-links" 60px
    "left-sidebar   main       settings    related-apps" 470px
    "social         main       settings    related-apps" 1fr/
       250px         1fr        300px         100px;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template: 
        "logo          search-bar   other-links  other-links" 50px
        "left-sidebar     main       settings    related-apps" 1fr
        "social           main       settings    related-apps" 100px/
            150px          1fr         150px         50px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template: 
        "logo          search-bar   other-links" 50px
        "left-sidebar     main       settings" 1fr
        "social           main       settings" 100px/
            100px          1fr         100px;
    }
    .related-apps {
        display: none;
    }
}

/* HEADER */

/* LOGO */
.logo {
    grid-area: logo;
    padding: 5px;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
    "menu-icon gmail-icon";

    place-items: start;
}

.menu-icon {
    grid-area: menu-icon;
    place-self: center;
}

.gmail-icon {
    grid-area: gmail-icon;
    font-size: 20px;
    align-self: center;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
    "gmail-logo gmail-text";
    gap: 10px;

}

.gmail-logo{
    grid-area: gmail-logo;
    justify-self: center;
}

.gmail-text {  
    grid-area: gmail-text;
    font-size: 23px;
    align-self: center;
    color: gray;

}


/* SEARCH BAR */
.search-bar {
    grid-area: search-bar;
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 8px;
    padding: 10px;   
    margin: 7px; 

    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-areas: 
    "search-icon search-mail";
    place-items: start;
    gap: 5px;
}

.search-icon {
    grid-area: search-icon;
    place-self: center;
}

.search-mail {
    grid-area: search-mail;
    align-self: center;
    color: gray;
}

/* OTHER LINKS */
.other-links {
    grid-area: other-links;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-areas: 
    "help-icon settings-icon google-apps profile-icon";
    place-items: center;
    justify-content: end;
    gap: 10px;
}

.help-icon {
    grid-area: help-icon;
}

.settings-icon {
    grid-area: settings-icon;
}

.google-apps {
    grid-area: google-apps;
}

.profile-icon {
    grid-area: profile-icon;
}


/* LEFT SIDEBAR */
.left-sidebar {
    grid-area: left-sidebar;

    display: grid;
    grid-template-rows: 100px repeat(auto-fit, 37px);
    justify-content: start;
    
    border-top: solid 1px rgba(128, 128, 128, 0.267);

}

/* COMPOSE */
.compose {
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 10px;
}


/* FOLDERS */
.folders {
    display: grid;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;

    width: 230px;;
    
    margin: 0;
    padding-left: 35px;
}

/* INDIVIDUAL FOLDER PRESETS */
.folders:nth-of-type(n+1) {
    display: grid;
    grid-template-columns: 30px 1fr 20px;
    gap: 3px;
}

.inbox {
    background-color: rgba(255, 0, 0, 0.077);
    border: none 2px;
    border-radius: 10px 40px 40px 10px;

}

.inbox-logo {
    mix-blend-mode:multiply;
    filter: opacity(0.5) drop-shadow(0 0 0 rgba(223, 22, 22, 0.564));
}

.inbox-text {
    color: rgba(161, 0, 0, 0.945);
    font-weight: bold;
}

.inbox-email-count {
    font-size: 14px;
    color: rgba(161, 0, 0, 0.945);
}

/* FOLDER CHILD PRESETS */
.left-sidebar .folders > img, p {
    display: grid;
    align-self: center;
}

.starred-icon {
    margin: -2px;
}

.snoozed-icon {
    filter: opacity(0.8);

}

.sent-icon {
    filter: opacity(0.6);
    margin: 2px;
}

.team-icon {
    margin: 2px;
}


/* MAIN */
.main {
    grid-area: main;
    padding: 5px;
    overflow-y: scroll;

    display: grid;
    grid-template-rows: 60px 1fr;
    border-top: solid 1px rgba(128, 128, 128, 0.267);
}

/* EMAIL TOOL BAR */
.email-tools {
    display: grid;
    grid-template-columns: 60px repeat(2, 50px) 1fr repeat(2, 40px);
    gap: 5px;
    align-content: center;

    border-bottom: solid 1px rgba(128, 128, 128, 0.267);
}

.email-select {
    display: grid;
    grid-template-columns: 40px 20px;
    gap: 5px;
     align-items: center;
}

.square-icon {
    display: grid;
    font-size: 45px;
    justify-self: start;
    padding-left: 10px;
    align-self: center;
    justify-self: center;

}

.triangle-arrow {
    font-size: 20px;
}

.refresh-emails {
    display: grid;
    font-size: 27px;
    rotate: 90deg;
    place-self: center;
}

.tricolon-menu {
    display: grid;
    font-size: 26px;
    place-self: center;
}

.number-of-emails {
    justify-self: end;
    font-size: 15px;
}

.page-left, .page-right {
    font-size: 18px;
    justify-self: center;
}

/* EMAIL BODY */
.inbox-emails {
    display: grid;
    grid-template-rows: repeat(auto-fit, 49px)
}

.emails {
    display: grid;
    grid-template-columns: 50px 40px 1fr 2fr 80px;
    height: 40px;
    align-items: center;
    border-bottom: solid 1px rgba(128, 128, 128, 0.267);

    padding-bottom: 8px;
}

.read-email {
    background-color: rgba(128, 128, 128, 0.112);
}

.select-box {
    display: grid;
    font-size: 40px;
    justify-self: center;
}

.starred-star {
    display: grid;
    font-size: 30px;
    justify-self: start;
    padding-bottom: 3px;
    filter: opacity(0.3);

}

.starred-important {
    color: gold;
    filter: opacity(1);
}

.contact-name {
    display: grid;
    align-self: center;
    display: inline;
}

.email-subject {
    display: grid;
    display: inline;
}

.date-time {
    display: grid;
    justify-self: end;
    padding-right: 10px;
}


/* SETTINGS */
.settings {
    grid-area: settings;
    background-color: purple;
    border: solid 5px rgb(63, 0, 63);
    padding: 10px;
    border: solid 1px rgba(128, 128, 128, 0.267);
    border-bottom: none;
}

/* RELATED APPS */
.related-apps {
    grid-area: related-apps;
    background-color: darkgreen;
    border: solid 5px rgb(0, 66, 0);
    border-top: solid 1px rgba(128, 128, 128, 0.267);

}

/* SOCIAL */
.social {
    grid-area: social;

    display: grid;
    grid-template-rows: 120px 1fr 50px;
    grid-template-areas: 
    "meet"
    "chat" 
    "social-icons";
}

/* MEET */
.meet {
    grid-area: meet;
    
    display: grid;
    grid-template-rows: 35px repeat(2, 35px);
    gap: 5px;
}

.meet-sub-section {
    display: grid;
    grid-template-rows: 10px 20px;

    border-top: solid 1px rgba(128, 128, 128, 0.267);
    box-shadow: 0 -6px 4px -3px rgba(128, 128, 128, 0.144);
    margin: 0 7px;
}

.curved-rectange {
    display: grid;
    justify-self: center;
    padding-top: 5px;
    filter: opacity(0.4);
}

.meet-subheading {
    display: grid;
    padding: 0 0 3px 16px;
    font-size: 16px;
}

.start-meeting, .join-meeting {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 3px; 

    color: var(--main-text-colour);


    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    gap: 5px;
    width: 230px;
    margin: 0;
    padding-left: 30px;
}

.start-meeting .join-meeting > img, p {
    display: grid;
    align-self: center;
}

/* CHAT */
.chat {
    grid-area: chat;

    display: grid;
    grid-template-rows: 40px repeat(4, 1fr);
    margin: 0 7px;
}

.chat > div {
    padding-left: 20px;
    font-size: 13px;
}

.chat-subheading {
    font-size: 14px;
    padding: 10px 0 10px 16px;
    font-size: 16px;

    border-top: solid 1px rgba(128, 128, 128, 0.267);
}

.pinned-chat {
    display: grid;

    grid-template-columns: 50px 1fr 40px;
    gap: 8px;
    align-items: center;
    box-sizing: border-box;

    border-bottom: solid 1px rgba(128, 128, 128, 0.267);
}

.pinned-chat-image {
    display: grid;
    justify-self: center;

    position: relative;
    top: 0;
    left: 0;
}

.profile-image {
    position: relative;
    top: 0;
    left: 0;
}

.green-circle {
    position: absolute;
    top: 17px;
    left: 19px;

    font-size: 12px;
}

.pinned-chat-text {
    display: grid;
}

.plus-icon {
    display: grid;
    justify-self: start;
    margin-left: 5px;
}

.chat-messages {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 8px;
    align-items: center;
    box-sizing: border-box;
    padding-top: 5px;
}

.profile-image-with-status {
    display: grid;
    place-self: center;

    position: relative;
    top: 0;
    left: 0;
}

.chat-profile-image {
    position: relative;
    top: 0;
    left: 0;
}

.profile-image-with-status .green-circle {
        position: absolute;
        top: 20px;
        left: 21px;
    
        font-size: 12px;
}

.chat-profile-text {
    display: grid;
    display: inline;
}

/* SOCIAL ICONS */
.social-icons {
    grid-area: social-icons;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;

    border-top: solid 1px rgba(128, 128, 128, 0.267);
    margin: 0 7px;

}

.social-icons > img {
    place-self: center;
}


.chat-icon {
    display: grid;
    background-color: rgba(128, 128, 128, 0.219);
    place-content: center;
}
