* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.container {
  text-align: center;
  display: grid;
  grid-template:
    "header header header header" 30px
    "left-menu main settings right-menu" 1fr /
    150px 1fr 140px 60px;
  height: 100vh;
  width: 100vw;
  background-color: #f6f8fc;
  gap: 20px
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50px auto minmax(200px, 700px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu logo search top-right-menu";
  background-color: #f6f8fc;
  align-items: end;
  margin-bottom: 10px;
  margin-top: 5px;
  gap: 10px
}

.top-right-menu {
  display: grid;
  margin-left: 70%;
  grid-area: "top-right-menu";
  grid-template-areas: "help setting apps account";
  grid-template-columns: 20px 20px 20px 20px;
  gap: 20px;
  justify-items: right;
}

.header span {
  text-align: center;
  padding-left: 5px;
}


.item input {
  width: 90%;
}

.item.search {
  display: grid;
  grid-area: "search";
  align-items: end;
  justify-items: center;
}

.settings {
  border: 1px solid black;
  grid-area: settings;
  background-color: #ffffff;
  border-radius: 20px;
  height: fit-content;
  padding: 10px;
}

.main {
  padding: 20px;
  border-radius: 20px;
  grid-area: main;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(auto-fill, 20px);

}

.main div {
  border: black solid 1px;
  text-align: left;
}

.left-menu {
  grid-area: left-menu;
  display: grid;
  grid-template: "inbox-browser" 300px
    "meet" 100px "chat" 1fr/ 300px;
  justify-items: start;
  padding: 20px 0 0 20px;
  height: 80%;
}

.left-menu button {
  width: 100px;
  height: 50px;
}


.left-menu .inbox-browser {
  grid-area: inbox-browser;
  background-color: #f6f8fc;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(auto-fill, 30px);
  justify-items: start;
}

.left-menu .meet {
  grid-area: meet;
  background-color: #f6f8fc;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 30px;
  justify-items: start;
}

.left-menu .chat {
  grid-area: chat;
  background-color: #f6f8fc;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 50px;
  justify-items: start;
}

.left-menu .chat div {
  border: solid black 1px;
  width: 150px
}

.left-menu .chat .contact-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: end;
  padding-bottom: 15px;
}

.left-menu .chat .contact-options div {
  width: 20px;
  height: 20px;
}

.right-menu {
  display: grid;
  grid-template-rows: repeat(auto-fill, 20px);
  gap: 20px;
  grid-area: right-menu;
  background-color: #f6f8fc;
}

.email {
  display: grid;
  grid-template-columns: 15px 20px 20px 1fr 1.5fr 75px;
  grid-template-rows: 1fr;
  height: fit-content;
}

.theme {
  display: grid;
  grid-template: "img1 img2 img3 img4" 30px
    "img5 img6 img7 img8" 30px /1fr 1fr 1fr 1fr;
}

.theme div {
  border: black solid 1px;
}



.logo img,
.setting-button img,
.support img,
.apps img,
.account img,
.menu img,
.right-menu img {
  height: 20px;
}

@media screen and (max-width: 920px) {
  .container {
    grid-template:
      "header header header" 50px
      "left-menu main right-menu" 1fr /
      150px 1fr 60px;
  }

  .settings {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template:
      "header header" 1fr
      "left-menu main" 20fr /
      150px 1fr;
  }

  .header {
    grid-template-columns: 50px auto minmax(100px, 600px) 50px;
  }

  .header .item.extra,
  .right-menu {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .container {
    grid-template:
      "header" 1fr
      "main" 20fr /
       1fr;
    gap: 40px
  }

  .email{
    grid-template-columns:50px 1fr 1.5fr 75px;
  }
.main{
  padding: 5px;
}

  .header {
    grid-template-columns: 50px auto 1fr;
  }

  .header .item.support, .email .interact, .email .selector, .left-menu{
    display: none;
  }
}